
<div class="col-lg-3 col-md-6" ng-repeat="category in categories">
  <div class="panel {{category.colorClass}}">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <h2 class="category">{{category.category}}</h2>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge">
            <button class='btn btn-lg btn-default' ng-click="sendData(category.category, selectedActivity);"> Submit </button>
          </div>
          <div>
            </br>Started: [Moment Stamp]
          </div>
        </div>
        <select ng-options="activity as activity.label for activity in category.activities track by activity.id"
        ng-model="selectedActivity">
          {{activity}}
        </select>
      </div>
    </div>
  </div>
</div>
