<div class="container-fluid">

<!-- ** Page Heading *************-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
          Your Activity Manager <small></small>
      </h1>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-dashboard"></i>
            Dashboard
        </li>
      </ol>
    </div>
  </div>
<!-- ** Category Selectors *******-->

<div class="row">
  <div ng-include="'category/category.html'"></div>
</div>
<!-- ** Secondary Data Display ***-->
    <div class="row">


        <!-- ** Doughnut Chart ***-->
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Daily Breakdown </h3>
                </div>
                <div class="panel-body">
                    <div ng-controller="chartCtrl">
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                    <div class="text-right">
                        <a href="#"> View Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <!-- ** Goals Display ***-->
        <div class="col-lg-6" ng-controller="goalProgressController">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Goal Progress </h3>
                </div>
                <div class="panel-body" ng-repeat="category in categories">

                    <!-- GOAL PROGRESS BARS HERE -->
                        <div class="progress">
                            <div class="progress-bar {{category.colorClass}}" role="progressbar" style="width:{{categories.widths[category.name]}}%">
                              {{category.name}}
                            </div>
                        </div>



                        <!-- <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:10%">
                              Exercise
                            </div>
                        </div>
                    <div class="text-right">
                        <a href="#"> View Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div> -->
                </div>
            </div>
        </div>




    </div>
<!-- ** Main Data Display ********-->

<div ng-controller="categoryController" ng-model="category" >
    <div class="row">
        <h2 class="category">Calendar View</h2>
        <p>See your daily activities here:</p>
        <div class= "col-xs-1"></div>
        <div class="col-xs-11 progress">
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">12am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">1am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">2am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">3am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">4am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">5am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">6am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">7am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">8am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">9am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">10am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">11am</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">12pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">1pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">2pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">3pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">4pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">5pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">6pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">7pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">8pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">9pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">10pm</div>
            <div class="progress-bar blank" role="progressbar" style="width: 4.1%">11pm</div>

        </div>
        <div ng-repeat="(date, percentageArr) in barChartData" >
            <div class= "col-xs-1">{{date}}</div>
            <div class="col-xs-11 progress">
              <div ng-repeat="percentage in percentageArr" class="progress-bar {{percentage.category}}" role="progressbar" ng-style="{'width': percentage.percentage + '%'}">
              </div>
            </div>
        </div>
    </div>

</br>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Activity Summary</h3>
                    </br>
                    <button class='btn btn-lg btn-default' id='collect' ng-click="getAllData()"> Refresh Data </button>
                </div>
                <div class="panel-body">
                  <table class="table table-striped table-fixed">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Activity</th>
                        <th>Start Time</th>
                        <th>Stop Time</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="activity in activityData">
                            <td>{{activity.date}}</td>
                            <td>{{activity.category}}</td>
                            <td>{{activity.activity}}</td>
                            <td>{{activity.start}}</td>
                            <td>{{activity.stop}}</td>
                            <!-- <td>{{activity.duration}}</td> -->
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /.container-fluid -->
